@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor:pointer;
}
.website{
    background-image:url(/images/Desktop\ -\ 2.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.body{
    padding: 200px;
}

.Top{
    width:100%;
    height:110vh;
}
.header1{
    display:flex;
}
.header1 h5{
    color:#fff;
    margin-top: 62px;
    margin-left: 80px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}
ul{
    float:left;
    display:flex;
    margin-left: 550px;
}
ul li{
    margin:7px;
    margin-top: 40px;
    padding:20px;
    list-style: none;
}
ul li a{
    color:#fff;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    transition:0.4s ease-in-out;
}
.hero_section{
    display:flex;
    padding-left:70px;
    padding-top: 70px;
}
.left h1{
    color:#fff;
    font-size: 80px;
    font-family: 'Outfit', sans-serif;
}
.right img{
   margin-left:100px;
}
#statement{
    color:#fff;
    font-family: 'Roboto', sans-serif;
    padding:30px 0px 20px 0px;
    font-size: 20px;
}
.buttons button{
    margin:30px 40px 0 0; 
    width:180px;
    height:9vh;
    border-radius: 30px;
}
#nfts{
    border:2px solid #B1B0FC;
    background:#B1B0FC;
    color:#fff;
    letter-spacing: 2px;
    font-weight: bold;
}
#nfts:hover{
    background:transparent;
    border:3px solid #ABDB90; 
}
#nfts2{
    border:3px solid #ABDB90;
    background: transparent;
    color:#fff;
    letter-spacing: 2px;
    font-weight: bold;
}
#nfts2:hover{
    background:transparent;
    border:3px solid #ffff ;
}
.logo_section h5{
    color:#fff;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    font-weight: bolder;
    font-size: 15px;
    margin:10px 70px 20px 70px;
}
.logos{
    border:2px solid rgb(48, 42, 100,0.4);
    background-color:  rgb(48, 42, 100,0.4);
    margin:10px 70px 0px 70px;
    padding:20px 40px 20px 60px;
}
.logo img{
    padding:20px 20px 20px 20px;
}
.secondsection{
    display:flex;
    padding-left:70px;
    padding-top: 70px;
}
.text{
    padding-left: 40px;
}
.text h5{
    color:#ffff;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    font-weight: bolder;
    font-size: 15px;
    margin:50px 0px 20px 0px;
}
.text h2{
    color:#ffff;
    font-family: 'Outfit', sans-serif;
    font-size: 55px;
}
.text p{
    color:#fff;
    padding:30px 0px 20px 0px;
    font-size: 17px;
    font-weight:20;
    font-family: 'Roboto', sans-serif;

}
#nfts3{
    border:2px solid #B1B0FC;
    background:#B1B0FC;
    color:#fff;
    letter-spacing: 2px;
    font-weight: bold;
    margin:30px 40px 0 0;
    width:230px;
    height:9vh; 
    border-radius: 30px;
}
#nfts:hover{
    background:transparent;
    border:3px solid #ABDB90; 
}
.thirdsection{
    display:flex;
    padding-left:70px;
    padding-top: 10px;
}

.fourthsection{
    padding-top: 50px;
}
.heading h5{
    font-family: 'Roboto';
    color: #68E1FD; 
    font-size: 20px;
    letter-spacing: 0.155em;
    padding:40px 0px 0px 40%;
}
.heading h2{
font-family: 'Outfit';
color: #FAFAFA;
font-size: 57px; 
text-align: center;
padding:10px 5% 0px 0%;
}
.member{
    padding-top:30px;
    display:flex;
    padding:70px 14% 70px 14%;
    justify-content: space-between;
}
.members2{
    padding-top: 70px;

}
.details{
    border:2px solid;
    border-radius: 30px;
    background-color:  rgb(177, 176, 252,0.4);
    padding-top: 150px;
    height: 400px;
    width:300px;
    text-align: center;
}
.img{
   z-index:2;
   position:absolute;
   mix-blend-mode: luminosity;
   
}
.img #a {
   
    width:150px;
    height:150px;
    margin-left: 250px;
    
    clip-path: circle();
}
.img #b{
    width:150px;
    height:150px;
    clip-path: circle();
    margin-left: 160px;
}
.img #c{
    width:150px;
    height:170px;
    clip-path: circle();
    margin-left: 160px;
}
.details h5{
    color:#FAFAFA;
    padding-bottom: 30px;
    letter-spacing: 0.155em;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 15px;
}
.details p{
    color:#FAFAFA;
    font-family: 'Roboto';
    font-size: 15px;
    font-weight:lighter;
}

.fifthsection{
width: 1000px;
height: 400px;
margin-left: 140px;
margin-top: 50px;
padding-top: 50px;
border-radius: 20px;
background: linear-gradient(279.01deg, rgba(104, 225, 253, 0.62) 3.79%, rgba(115, 124, 227, 0.9) 68.21%);
    
}
.fifthsection h5{
font-family: 'Roboto';
font-size: 20px;
text-align: center;
letter-spacing: 0.155em;
text-transform: uppercase;
color: #000000;

}
.fifthsection h1{
    padding-top: 20px;
    font-family: 'Outfit';
    color:#FAFAFA;
    letter-spacing: 0.100em;
    font-weight: 700;
    font-size: 64px; 
    margin-left: 30px;
    text-align: center;
}
#start{
    border:2px solid #000;
    background-color: #000000;
    border-radius: 40px;
    width:270px;
    height:70px;
    margin-left: 370px;
    margin-top: 30px;
    color:#FAFAFA;
    letter-spacing: 0.155em;
    font-family: 'Roboto';
    font-weight: bolder;
    font-size:15px;
}
.footer{
    padding-top: 80px;
    margin-left: 50px;
    display:flex;
    justify-content: space-evenly;
    padding-bottom: 70px;
    color:#FAFAFA;
    font-family: 'Roboto';
    line-height: 40px;

}
.words h5{
    font-weight: 1000;
    font-size: 20px;
}
.krypto h7{
    font-weight: 700;
    font-size: 15px;
}
.krypto h5{
    font-weight: 700;
    font-size: 15px; 
}

#inputmessage{
background: #302B64;
border-radius: 20px;
height: 50px;
width:300px;
font-family: 'Roboto';
font-weight: 400;
font-size: 18px;
line-height: 21px;
}
::placeholder{
    color:#FAFAFA;
    padding: 30px;
}
#nfts{
position: absolute;
width: 100px;
height: 50px;
left: calc(60% - 180px/2 + 443px);
background: #B1B0FC;
border-radius: 87px;
}











































 


 
 
 
 





